@model Vinyl.UI.ViewModels.ArtistViewModel
@{
    ViewBag.Title = "Delete";
}
<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AboutLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AboutLink)
        </dd>
    </dl>
    @using (Html.BeginForm("Delete", "Artist", FormMethod.Post, new { id = "formCrud" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="button" value="Delete" class="btn btn-default" /> 
        </div>
    }
</div>
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/Project/EnviarFormulario.js"></script>
<script>
$(document).ready(function () {
            $("script ~ div").css('display', 'none');
            $("center a").css('display', 'none');
        });
</script>