@model Vinyl.UI.ViewModels.ArtistViewModel

@{
    ViewBag.Title = "Details";
}
<div class="row text-center">
    <h2>@Html.DisplayFor(model => model.Name)</h2>
</div>
<div class="row text-center">
    @{
        if (Model.Picture.LongLength > 0)
        {
            string imageBase64 = Convert.ToBase64String(Model.Picture);
            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
            <img class="artist-image" src="@imageSrc" />
        }
    }
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AboutLink)
        </dt>
        <dd>
            <a target="_blank" href="@Html.DisplayFor(model => model.AboutLink)">@Html.DisplayFor(model => model.AboutLink)</a>
        </dd>
    </dl>
</div>
<script src="~/Scripts/removeserverbanner.js"></script>