@model Vinyl.UI.ViewModels.ArtistViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AboutLink)
        </dt>
        <dd>
            <a target="_blank" href="@Html.DisplayFor(model => model.AboutLink)">@Html.DisplayFor(model => model.AboutLink)</a>
        </dd>
    </dl>
</div>
<script>
$(document).ready(function () {
            $("script ~ div").css('display', 'none');
            $("center a").css('display', 'none');
        });
</script>