@{
      ViewBag.Title = "About Me";
}
<!--Navbar Custom for child pages -->
<link href="~/Content/navbar-custom.css" rel="stylesheet" />
<section id="about-me">
    <div class="container">

        <!-- Introduction -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-title">About Me</h3>
                <div class="section-title-divider"></div>
                <h3 class="section-subheading text-muted">
                    Hello, my name is Rafael Bittencourt.<br /><br />
                    I have been working with software development for the past 18 years, and I love doing it.<br /><br />
                    Nowadays I'm more focused on web development with C# Microsoft .NET<br /><br />
                    In the timeline below you can know a little of my professional history.<br /><br />
                </h3>
            </div>
        </div>

        <!-- TimeLine -->
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <a target="_blank" href="http://www.hemosc.org.br/">
                                <img class="img-circle img-responsive" src="~/Content/img/aboutme/01-sm.jpg" alt="">
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="control-label">1998-2000</h4>
                                <h4 class="control-label">Hemosc/SBS Directa</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">First job with application development</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <a target="_blank" href="http://www.unisul.br">
                                <img class="img-circle img-responsive" src="~/Content/img/aboutme/Unisul001.jpg" alt="">
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="control-label">1997-2002</h4>
                                <h4 class="control-label">
                                    UNISUL, University of the South of Santa Catarina, Brazil
                                </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Bachelor in Computer Science</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <a target="_blank" href="http://www.koerichtelecom.com.br/">
                                <img class="img-circle img-responsive" src="~/Content/img/aboutme/koerich-telecom-original.png" alt="">
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="control-label">2000-2010</h4>
                                <h4 class="control-label">Koerich Telecom</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Telecommunication company with 6000 employees. Evolution between the functions of Developer, System Analyst and ERP Systems Coordinator - Unify, Accell, Linux/AIX</p><br />
                                <p class="text-muted">
                                    <a href="~/Content/img/aboutme/CartaKoerich.pdf" type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-file"></span> Reference
                                    </a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <a target="_blank" href="http://www.lupainformatica.com.br/">
                                <img class="img-circle img-responsive" src="~/Content/img/aboutme/lupa.jpg" alt="">
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="control-label">2008-2012</h4>
                                <h4 class="control-label">Lupa Informática</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Provision of FreeLancer Service as Web Developer in the company Lupa Informatica - PHP + MYSQL</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <a target="_blank" href="http://portal.estacio.br">
                                <img class="img-circle img-responsive" src="~/Content/img/aboutme/estacio.gif" alt="">
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="control-label">2010-2011</h4>
                                <h4 class="control-label">Faculdade Estácio de Sá – Center of Postgraduate Programns Certificate, Brazil</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Specialization Program in Information Technology Administration and Project Management</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <a target="_blank" href="https://www.deltacon.com.br/">
                                <img class="img-circle img-responsive" src="~/Content/img/aboutme/logo-deltacon.png" alt="">
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="control-label">2010-2017</h4>
                                <h4 class="control-label">Deltacon Consultoria e Infórmatica</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Systems Analyst and Developer at Deltacon Informatica - C# Microsoft .NET, VB6, InterSystens Cache </p>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        <a href="~/Content/img/aboutme/CartaDeltacon.pdf" type="button" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-file"></span> Reference
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/img/aboutme/02-sm.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="control-label">2017</h4>
                                <h4 class="control-label">Moving to Toronto</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Moving to Toronto seeking professional and personal growth.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <a target="_blank" href="https://github.com/rafaelbittenca/VinylCollection">
                                <img class="img-circle img-responsive" src="~/Content/img/aboutme/GitHubMark200x200.jpg" alt="" />
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <br /><br />
                            <div class="timeline-heading">
                                <h4 class="control-label text-center">See my Code and Social Medias</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted text-center">
                                    <a target="_blank" href="https://www.linkedin.com/in/rafael-bittencourt-a5a2b07a/">
                                        <img class="social-media" src="~/Content/img/about/LinkedIn-sm.png" />
                                    </a>
                                    <a target="_blank" href="https://www.facebook.com/bittenca">
                                        <img class="social-media" src="~/Content/img/about/facebook.png" />
                                    </a>
                                    <a target="_blank" href="https://www.instagram.com/rafaelbittenca">
                                        <img class="social-media" src="~/Content/img/about/instagram.png" />
                                    </a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <br /><br />

        <div class="row">
            <div class="col-lg-3">&nbsp;</div>
            <div class="col-lg-6">
                <h4 class="control-label text-center">Technical Skills</h4>
                    <ul class="text-muted pull-left">
                        <li>C# .NET</li>
                        <li>Entity Framework</li>
                        <li>SQL Server</li>
                        <li>HTML 5</li>
                        <li>CSS 3</li>
                        <li>BootStrap</li>
                        <li>JavaScript</li>
                        <li>JQuery</li>
                        <li>JSON</li>
                        <li>XML</li>
                        <li>GitHub</li>
                    </ul>
                    <ul class="text-muted pull-right">
                        <li>AutoFac</li>
                        <li>AutoMapper</li>
                        <li>UML</li>
                        <li>PHP</li>
                        <li>MySql</li>
                        <li>Visual Basic 6</li>
                        <li>Caché Intersystems</li>
                        <li>SVN</li>
                        <li>Linux AIX</li>
                        <li>WebApi</li>
                        <li>OOP</li>
                    </ul>
            </div>
            <div class="col-lg-3">&nbsp;</div>
        </div>
        <br /><br />

        <div class="row">
            <div class="col-lg-12 text-center">
                <a target="_blank" href="https://www.linkedin.com/feed/update/urn:li:activity:6322092799693070336">
                    <img width="225" height="115" src="~/Content/img/aboutme/PluraSight_ASP_NET.jpg" alt="PluraSight_ASP_NET.jpg" class="img-rounded">
                </a>
                
                <a target="_blank" href="https://www.linkedin.com/feed/update/urn:li:activity:6331156219268517888">
                    <img width="225" height="115" src="~/Content/img/aboutme/PluraSight_C.jpg" alt="PluraSight_C.jpg" class="img-rounded">
                </a>
            </div>
        </div>

        <br /><br />

        <!-- Language -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="control-label text-center">Languages</h4>
                <h3 class="section-subheading text-muted text-center">
                    English: Very good speaking, reading, listening, and writing - IELTS Band 6.<br /><br />
                    Portuguese: Fluent speaking, reading, listening, and writing (native).
                </h3>
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
<script src="~/Scripts/site.js"></script>
<script>
    document.getElementById("link-about").href = "@Url.Action("Index", "Home")#page-about";
    document.getElementById("link-contact").href = "@Url.Action("Index", "Home")#page-contact";
    document.getElementById("link-artists").href = "@Url.Action("Index", "Artist")";
    document.getElementById("link-records").href = "@Url.Action("Index", "Record")";
</script>
@if (User.Identity.IsAuthenticated)
{
    <script>
        document.getElementById("link-artists").href = "@Url.Action("FullAccess", "Artist")";
    </script>
}