@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vinyl Collection</title>
    <link rel="icon" href="~/Content/img/vinyl.ico">
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("estilos", false)

</head>
<body>
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="@Url.Action("Index", "Home")">Vinyl Collection</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        @*@if (User.Identity.IsAuthenticated)
                        {
                            <a id="link-artists" class="page-scroll" href="@Url.Action("FullAccess", "Artist")">Artists</a>
                        }
                        else
                        {*@
                            <a id="link-artists" class="page-scroll" href="@Url.Action("Index", "Artist")">Artists</a>
                        @*}*@
                    </li>
                    <li>
                        <a id="link-records" class="page-scroll" href="@Url.Action("Index", "Record")">Records</a>
                    </li>
                    <li>
                        <a id="link-about" class="page-scroll" href="#page-about">About</a>
                    </li>
                    <li>
                        <a id="link-contact" class="page-scroll" href="#page-contact">Contact</a>
                    </li>
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">@User.Identity.GetUserName() - Log off</a></li>
                                </ul>
                            }
                        }
                        else
                        {
                            <a id="link-login" class="page-scroll" href="@Url.Action("Login", "Account")">Login</a>
                        }
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- RenderBody -->
    <content>
        @RenderBody()
    </content>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="copyright">&copy; Vinyl Collection 2017. All rights reserved. Theme by <a href="https://startbootstrap.com/template-overviews/agency/">agency</a></span>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
    <script src="~/Scripts/site.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
